* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    max-height: 1200px;
    margin: auto;
}

main header {
    background: url(/graphics/bg.jpg) center center/cover no-repeat;
    height: 22%;
    width: auto;
    padding-top: 50px;
}

main header h1 {
    color: #fff;
    font-family: "woods";
    text-align: center;
    font-size: 50px;
}

.background {
    background-image: url(/graphics/bg.jpg);
    background-position-y: center;
    background-size: 100% 150px;
    color: #fff;
    padding: 15%;
    height: 55%;
}

.green {
    background-color: #4f6a13;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    margin: 0 20px;
}

.green.a {
    position: absolute;
    left: 50%;
}

.green.b {
    margin-top: 180px;
}

footer {
    background-color: #2D4823;
    height: 200px;
    color: #fff;
    text-align: center;
    padding: 30px;
    line-height: 1.5;
}

footer h2 {
    margin-bottom: 20px;
}

footer div {
    margin-bottom: 20px;
    width: auto;
    text-align: center;
}